.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img {
  margin-bottom: 10px;
  width: 5%;
}
.title {
  padding-bottom:10px ;
}
.text {
  padding-bottom: 10px;
}
.buttonContainer {
  display: flex;
  gap: 20px;
}
