.homeContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homeContainerImg {
  margin-bottom: 10px;
  width: 5%;
}
.homeContainerTitle {
  padding-bottom:10px ;
}
.homeContainerText {
  padding-bottom: 10px;
}
.homeContainerButtonContainer{
  display: flex;
  gap: 20px;
}
