.authContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.authForm{
  background: #fff;
  width: 30%;
  height: 87%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
}

.errorContainer{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.inputContainer{
  width: 80%;
}

.authLink {
  color: blue;
}

.authParagraph {
  margin-bottom: 15px;
}

.authFormTitle{
  font-size: 40px;
}

.authFormSubTitle{
  font-size: 20px;
  color: #7a7979;
  margin-bottom: 40px;
}

.authFormButtonText {
  font-size: 16px;
}

.addButton {
  padding: 0px 100px;
}

