.titleContainer {
  padding: 24px 0 0px 20px;
}

.titleContainer h1 {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
  margin: 0;
}
.usernameColor {
  color: var(--user-blue-name);
}
.titleContainer p {
  font-size: 14px;
  color: #6b7280;
  margin-top: 4px;
}

.userName:hover {
  text-decoration: underline;
}